<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurante FIC.</title>
    <link rel="stylesheet" href="../static/styles/landing_page.css" />
  </head>
  <body>
    <header></header>
    <section class="inicio" id="secao1">
      <h1>
        RESTAURANTE <br />
        FIC.
      </h1>

      <div class="box-texto">
        <p class="texto-chamativo">
          Descubra uma explosão de sabores autênticos, ingredientes frescos e
          aquele tempero picante que conquista o coração! 🌶️✨ Do tradicional
          taco ao irresistível burrito, viva uma experiência mexicana de
          verdade.<br />
          • 🍹 Drinks exclusivos<br />
          • 🌮 Comida feita com paixão<br />
          • 🎶 Ambiente vibrante<br />
          • 👉 Venha se apaixonar pelo nosso México à la carte! •
        </p>
      </div>

      <div class="banner-chamativo">
        <p>
          Comida mexicana<br />
          é aqui!!
        </p>
        <img src="../static/images/imagem-banner.png" />
      </div>
      <div class="botoes">
        <a
          ><button class="btn-inicio">
            Se impressione com nosso cardápio!
          </button></a
        >
        <br />
        <a
          ><button class="btn-inicio">
            Quer comer aqui? Faça sua reserva!
          </button></a
        >
      </div>
    </section>
  </body>
</html>
