<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurante FIC.</title>
    <link rel="stylesheet" href="../static/styles/landing_page.css" />
  </head>
  <body>
    <section class="inicio">
      <h1>RESTAURANTE FIC.</h1>

      <div class="imagem-chamativa">
        <img class="tacos" />
        <p class="texto">Comida mexicana é aqui!!</p>
      </div>
      <a
        ><button class="btn-inicio">
          Se impressione com nosso cardápio!
        </button></a
      >
      <br />
      <a
        ><button class="btn-inicio">
          Quer comer aqui? Faça sua reserva!
        </button></a
      >
    </section>
  </body>
</html>
